%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sub_dirs, [
            "rel"
           ]}.
{erl_opts, [debug_info, 
    warnings_as_errors,
    {lager_truncation_size, 8192}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{cover_print_enable, true}.

{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.


{deps, [
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}
    },
    {cowboy, ".*",
        {git, "git://github.com/ninenines/cowboy.git", {branch,
                                                     "master"}}
    }
]}.
